.dashboard
  &-title
    display inline-block
    flex 0 1 25%
    height 100%
    line-height 100%

    &--right
      display inline-flex
      flex 0 1 14%
      flex-direction row
      justify-content flex-end
      align-items flex-end

  &-dash
    display flex
    flex 1 1
    width 100%
    height 100%
    flex-direction row
    justify-content space-between
    align-items flex-end

    &__item
      flex 0 1 15%
