{
  "presets": ["@babel/preset-react", "@babel/preset-flow", "@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-react-constant-elements",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "extensions": [".js", ".jsx"],
        "root": ["./src"]
      }
    ]
  ]
}
