.page-container
  display flex
  height 100vh
  flex-direction column
  padding 8px $page-container-horizontal-padding 16px
  justify-content space-between

  &-header
    display inline-flex
    flex-direction row
    width 100%

  &-body
    display inline-flex
    flex-direction row
    justify-content center
    align-items center
    flex 1 1 0
