@import 'general/vars';
@import 'general/fonts';
@import 'general/base';
@import 'general/layout';

@import 'components/dashboard';
@import 'components/game';
@import 'components/btn';
@import 'components/slider';
@import 'components/select';
